// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";

// Fonts
//
// Font, line-height, and color for body text, headings, and more.
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
//# sourceMappingURL=roboto.css.map

// stylelint-disable value-keyword-case
$font-family-sans-serif: 'Nunito Sans', sans-serif;
$font-family-base: $font-family-sans-serif;

// stylelint-enable value-keyword-case
$font-size-base: 14px; // Assumes the browser default, typically `16px`
$font-size-lg: ($font-size-base + 4);
$font-size-sm: $font-size-base - 1px;

$h1-font-size: 24px;
$h2-font-size: 18px;
$h3-font-size: 16px;
$h4-font-size: 15px;
$h5-font-size: 13px;
$h6-font-size: 12px;

$headings-margin-bottom: ($h1-font-size / 2);
$headings-font-family: inherit;
$headings-font-weight: 400;
$headings-line-height: 1.2;
$headings-color: inherit;

//Border Radius
$border-radius-sm: 2px;
$border-radius: 4px;
$border-radius-lg: 8px;
$border-radius-xl: 10px !default;
$border-radius-circle: 50% !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius;
$btn-border-radius-lg:        $border-radius-lg;
$btn-border-radius-sm: $border-radius-sm;

//Grid Gutter Space Between
$grid-gutter-width: 34px;

//Mixin Values True and False
$enable-shadows: true;

$gx-primary: #3f51b5 !default;
$primary: $gx-primary;
$secondary: #E91E63;
$gray-default: #808080 !default;

$sidebar-bg: $white !default;
$sidebar-text-color: $gray-default !default;
$sidebar-bg-darken: darken($sidebar-bg, 3%);
$sidebar-hover-color: $gx-primary;

$border-color: #daddf1 !default;

// Links
$link-color: $gx-primary;
$link-hover-color: darken($gx-primary, 10%);

//Color Variables
$success: #4caf50;
$info: #00bcd4;
$warning: #ff9800;
$danger: #f44336;
$light: #e8eaf6;
$dark: $gray-800;
$body-bg: #f4f4f4;
$body-color: #5c5c5c;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark
);

//Default shadow
$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
$shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
$shadow-lg: 0 1px 8px -1px rgba(0, 0, 0, 0.20);
$shadow-xl: 0 0 16px 0px rgba(0, 0, 0, 0.20);
$avatar-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.50);

//Default Image Location
$image_path: "../images" !default;

// Motion
// https://material.google.com/motion/duration-easing.html#duration-easing-natural-easing-curves
$transition-bezier: .05, .74, .27, .99 !default; // for nav, quickview

$transition-ease: cubic-bezier(0.4, 0.0, 0.2, 1) !default;
$transition-ease-out: cubic-bezier(0.0, 0.0, 0.2, 1) !default;
$transition-ease-in: cubic-bezier(0.4, 0.0, 1, 1) !default;

//Side Nav Width
$side-nav-width: 200px !default;
$mini-drawer-width: 80px !default;

//App Bar Height
$gx-bar-height: 70px !default;

//Footer Height
$footer-height: 50px !default;

//latter Spacing variables
$letter-spacing-base: 3px !default;
$letter-spacing-lg: 6px !default;
$letter-spacing-xl: 8px !default;

//Custom Card Variables
$gx-card-shadow: $shadow !default;
$gx-card-margin: 34px !default;
$gx-card-padding: 24px 30px !default;
$gx-border: 1px solid $border-color !default;

//Button Variables
// $btn-font-size-lg: $font-size-lg !default;
// TODO что делает default
$btn-font-size-lg: $font-size-lg;
$btn-font-size: $font-size-base !default;
// $btn-font-size-sm: $font-size-sm !default;
// TODO что делает default
$btn-font-size-sm: $font-size-sm;
$btn-font-size-xs: 10px !default;

$btn-padding-lg: 14px 22px !default;
$btn-padding: 12px 18px !default;
$btn-padding-sm: 8px 14px !default;
$btn-padding-xs: 6px 10px !default;

$btn-fab-size-lg: 70px !default;
$btn-fab-size-sm: 46px !default;
$btn-fab-size-xs: 40px !default;

$btn-line-height: 1.2;

//Sizes Variables
$size-30: 30px !default;
$size-35: 35px !default;
$size-40: 40px !default;
$size-50: 50px !default;
$size-60: 60px !default;
$size-80: 80px !default;
$size-100: 100px !default;
$size-120: 120px !default;

//Override Bootstrap Variables
$component-active-bg:         theme-color("primary");
$custom-control-indicator-checked-bg:           theme-color("primary");
$custom-control-indicator-active-bg:            lighten(theme-color("primary"), 35%);
$custom-checkbox-indicator-indeterminate-bg:    theme-color("primary");
$pagination-active-bg:              theme-color("primary");
$pagination-active-border-color:    theme-color("primary");
$progress-bar-bg:                   theme-color("primary");
$pagination-color:                  $link-color;
$link-hover-color:          darken($link-color, 15%);

//Bootstrap Card Variables
$card-spacer-y: 24px;
$card-spacer-x: 30px;
$card-border-color: $border-color;
$card-border-radius: $border-radius-lg;
$card-inner-border-radius: calc(#{$card-border-radius} - #{$card-border-width});

//Bootstrap Input
$input-btn-focus-color: rgba(theme-color("primary"), .25);
$input-focus-border-color: lighten(theme-color("primary"), 25%);
$input-border-radius: $border-radius;
$input-border-radius-lg: $border-radius-lg - 2px;
$input-border-radius-sm: $border-radius-sm;

//Bootstrap Tables
$table-cell-padding: 15px;

$table-accent-bg: #f8f8f8;
$table-hover-bg: darken($table-accent-bg, 2%);
$table-active-bg: $table-hover-bg !default;

$table-border-color: #e6e6e6;

$table-head-bg: #e9e9e9;
$table-head-color: #bebebe;

$table-dark-bg: #3c3c3c;
$table-dark-accent-bg: #292929;
$table-dark-hover-bg: darken($table-dark-accent-bg, 2%);
$table-dark-border-color: #414141;
$table-dark-color: $gray-default;

//Bootstrap Modal
$modal-inner-padding: $gx-card-padding;
$modal-header-padding: $modal-inner-padding;

//List Group Modal
$list-group-border-radius: $border-radius-lg;