<template>
    <div class="col-md-8 mb-3">
        <div class="row align-items-end">
            <div class="col-auto">
                <img :src="message.relationships.user.data.attributes.avatar" :alt="message.relationships.user.data.attributes.name" style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;">
            </div>
            <div class="col">
                <div class="card bg-info text-white message incoming mb-0">
                    <button type="button" class="btn btn-link delete" @click="deleteMessage">
                        <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                    </button>
                    <div class="card-body p-2">
                        <div class="font-weight-bold small">
                            {{ message.relationships.user.data.attributes.name }}
                        </div>
                        <div class="">
                            {{ message.attributes.body }}
                        </div>
                        <ChatMessageMedia :message="message" />
                        <div class="text-right small">
                            {{ message.date }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Message from '../mixins/Message.js'
export default {
    name: 'MessageIncoming',
    mixins: [Message]
}
</script>

<style lang="css" scoped>
    .message {
        border: none;
    }
    .message.incoming:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border: 14px solid transparent;
        border-right-color: #63c2de;
        border-left: 0;
        border-bottom: 0;
        margin-top: -10px;
        margin-left: -12px;
    }
</style>