<template>
    <div class="row">
        <template v-if="message.attributes.type == 'MessageSystem' || message.attributes.type == 'MessageCall' || message.attributes.type == 'MessageSms'">
            <template v-if="message.attributes.type == 'MessageSystem'">
                <MessageSystem :message="message" />
            </template>
            <template v-if="message.attributes.type == 'MessageCall'">
                <MessageCall :message="message" />
            </template>
            <template v-if="message.attributes.type == 'MessageSms'">
                <MessageSms :message="message" />
            </template>
        </template>
        <template v-else>
            <template v-if="message.relationships.user.data.id == user.id">
                <MessageOutgoing :message="message" :chatroom="chatroom" />
            </template>
            <template v-else>
                <MessageIncoming :message="message" :chatroom="chatroom" />
            </template>
        </template>
    </div>
</template>

<script>
import MessageIncoming from './Incoming.vue'
import MessageOutgoing from './Outgoing.vue'
import MessageSystem from './System.vue'
import MessageCall from './Call.vue'
import MessageSms from './Sms.vue'
export default {
    name: 'MessageIndex',
    components: {
        MessageIncoming,
        MessageOutgoing,
        MessageSystem,
        MessageCall,
        MessageSms,
    },
    data() {
        return {
            user: window.app.user
        }
    },
    props: {
        message: {
            default: {}
        },
        chatroom: {
            default: () => {
                id: null
            }
        },
    }
}
</script>

<style lang="css" scoped>
</style>
