<template>
	<div class="row">
        <div class="col-auto text-center" v-for="media in message.relationships.media.data">
            <template v-if="media.attributes.type == 'image/jpeg'">
                <img v-img :src="media.attributes.link" :alt="media.attributes.name" class="img-fluid chat__img">
            </template>
            <template v-else>
                <a :href="media.attributes.link">
                    {{ media.attributes.name }}
                </a>
            </template>
        </div>
    </div>
</template>
<script type="text/javascript">
	export default {
		name: 'ChatMessageMedia',
		props: {
			message: {
				default: () => {
					return {
						relationships: {
							media: {
								data: []
							}
						}
					}
				}
			}
		}
	}
</script>

<style>
	.chat__img {
		max-height: 200px;
	}
</style>