<template>
    <div class="col-md-8 ml-auto mb-3">
        <div class="row align-items-end">
            <div class="col">
                <div class="card bg-light message mb-0 outgoing">
                    <button type="button" class="btn btn-link delete" @click="deleteMessage">
                        <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                    </button>
                    <div class="card-body p-2">
                        <div class="">
                            {{ message.attributes.body }}
                        </div>
                        <ChatMessageMedia :message="message" />
                        <div class="text-right small">
                            {{ message.date }}
                            <template v-if="message.attributes.is_read">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </template>
                            <template v-else>
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Message from '../mixins/Message.js'
export default {
    name: 'MessageOutgoing',
    mixins: [Message]
}
</script>

<style lang="css" scoped>
    .message {
        border: none;
    }
    .message.outgoing:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border: 14px solid transparent;
        border-left-color: #f0f3f5;
        border-right: 0;
        border-bottom: 0;
        margin-right: -12px;
    }
</style>
