<template>
    <div class="text-center w-100 small text-muted">
        {{ message.attributes.body }}
    </div>
</template>
<script type="text/javascript">
    export default {
        name: 'MessageSystem',
        props: {
            message: {
                default: {}
            },
        },
    }
</script>
