<template>
	<div>
        <button class="btn btn-primary mb-0" @click="$modal.show('changeStatus')">
            {{ translate('admin.change') }}
        </button>
        <modal name="changeStatus">
            <div class="modal-content d-flex h-100 flex-column">
                <div class="modal-header">
                    <div>
                        {{ translate('admin.invest-task.columns.invest_task_status') }}
                    </div>
                    <button type="button" class="close" @click="$modal.hide('changeStatus')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body h-100">
                    <div class="form-group align-items-center">
                        <select class="form-control" v-model="form.invest_task_status">
                            <option v-for="invest_task_status in invest_task_statuses" :value="invest_task_status">{{ invest_task_status.title }}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" @click="change">
                        {{ translate('admin.change') }}
                    </button>
                </div>
            </div>
        </modal>
	</div>
</template>
<script type="text/javascript">
	export default {
		name: 'StatusChange',
		data() {
			return {
                form: {
				    invest_task_status: this.invest_task_status ? this.invest_task_status : null
                },
			}
		},
		props: {
            data: {
                default: () => {
                    return {}
                }
            },
            invest_task: {
                default: () => {
                    return []
                }
            },
            invest_task_status: {
                default: () => {
                    return []
                }
            },
            invest_task_statuses: {
                default: () => {
                    return []
                }
            }
		},
		methods: {
			change() {
                axios.post('/admin/invest-tasks/' + this.invest_task.id + '/change-status', this.form)
                    .then((response) => {
                        return this.onSuccess(response.data);
                    })
                    .catch((errors) => {
                        return this.onFail(errors.response.data.errors);
                    });
			},
            onSuccess: function onSuccess(data) {
                if (data.redirect) {
                    window.location.replace(data.redirect);
                }
            },
		}
	}
</script>
