<template>
	<div class="modal-content">
		<div class="modal-body">
			<div class="row justify-content-center">
				<div v-for="item in attachments" class="mb-3 col-3">
					<div class="file__container">
						<img v-if="item.blob" :src="item.blob" :alt="item.name" class="file__img" onerror="this.src='/images/pdf.png'">
						<div class="file__options">
							<div class="file__options__buttons">
								<button class="btn btn-danger rounded-0" @click="remove(item)">
									<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 50 50" style=" fill:#FFFFFF;">
				                        <g id="surface1">
				                            <path style=" " d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z "></path>
				                        </g>
				                    </svg>
								</button>
							</div>
						</div>
		              	<div class="progress file__progress rounded-0" v-if="item.active || item.progress !== '0.00'">
                			<div :class="{ 'progress-bar': true, 'bg-danger': item.error, 'progress-bar-animated': item.active }" role="progressbar" :style="{ width: item.progress + '%' }">
                			</div>
      					</div>
					</div>
				</div>
			</div>
			<div class="form-group mt-3">
				<textarea name="name" rows="2" class="form-control" v-model="description" :placeholder="trans('coders-studio/chat::chat.description')"></textarea>
			</div>
		</div>
		<div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="$modal.hide('attachments')">{{ trans('coders-studio/chat::chat.cancel') }}</button>
			<button type="button" class="btn btn-primary" @click="upload">{{ trans('coders-studio/chat::chat.send') }}</button>
        </div>
	</div>
</template>
<script type="text/javascript">
	export default {
		name: 'ChatAttachmentModal',
		props: {
			attachments: {
				default: () => {
					return []
				}
			},
			remove: {
				default: () => {}
			},
			upload: {
				default: () => {}
			}
		},
		data() {
			return {
				description: null,
			}
		},
		computed: {
			className() {
				return {
					'col-md-6 col-lg-4': _.size(this.attachments) > 1,
					'col-auto': _.size(this.attachments) == 1,
				}
			}
		}
	}
</script>
<style type="text/css">
	.file__container {
		position: relative;
	}

	.file__options {
		cursor: pointer;
		transition: visibility 0s, opacity 0.5s ease-out;
		position: absolute;
		visibility: hidden;
		opacity: 0;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-color: rgba(255, 255, 255, 0.5);
		text-align: center;
	}

	.file__options__buttons {
		position: absolute;
		top: 0;
		right: 0;
	}

	.file__container:hover .file__options {
		visibility: visible;
		opacity: 1;
	}

	.file__progress {
		top: 0;
    	position: absolute;
    	width: 100%;
	}

	.file__img {
		width: 100%;
		object-fit: contain;
    	height: 120px;
	}
</style>