<template>
    <div class="">
        <div class="col-12 py-4" :class="{ 'h-100': modal }" id="chat__container" ref="chat__container"
             :style="{ height: chatContainerHeight }">
            <button class="btn btn-primary mb-3 btn-block d-md-none" @click="showChatrooms = !showChatrooms">
                {{ trans('coders-studio/chat::chat.chatrooms') }}
            </button>
            <div class="row h-100">
                <div :class="navClass">
                    <div class="card h-100 rounded-0 d-flex flex-column">

                        <div class="card-body p-0 chatroom__list h-100">
                            <Search v-if="search"/>
                            <ChatroomList
                                ref="chatroomList"
                                v-else
                                :active-chatroom="chatroom"
                                :to-chatroom="toChatroom"/>
                        </div>
                    </div>
                    <button type="button" name="button" class="btn-block btn btn-primary mt-4"
                            @click="$modal.show('newChatroom')">
                        <i class="fa fa-plus"></i>
                        {{ trans('coders-studio/chat::chat.new_chatroom') }}
                    </button>
                </div>
                <div :class="chatClass">
                    <div class="card h-100 rounded-0">
                        <div class="card-header p-2 d-flex align-items-center">
                            <div v-if="isGroup()">
                                <a href="#" @click="$modal.show('chatroomGroupManagement')" class="font-weight-normal">
                                    {{ trans('chat.users_count') }}
                                    {{ _.size(chatroom.relationships.users.data) }}
                                </a>
                            </div>
                            <div class="ml-auto">
                                <div class="row" :class="callAbility ? 'no-gutters':''">
                                    <div class="col-auto">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control bg-light border-0"
                                                   :placeholder="trans('chat.search_by_chat')" v-model="params.search"
                                                   @keyup.enter="searchMessages">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" @click="searchMessages">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto px-1 dropdown" v-if="callAbility">
                                        <button class="btn btn-primary px-2 dropdown-toggle m-0" id="callMenu"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-phone"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <template v-if="chatroom.id">
                                                <a class="dropdown-item" href="#" @click="browserCall">{{
                                                    trans('coders-studio/chat::chat.browser_call') }}</a>
                                                <a class="dropdown-item" href="#" @click="phoneCall"
                                                   v-if="canCallPhone">{{ trans('coders-studio/chat::chat.phone_call')
                                                    }}</a>
                                            </template>
                                        </div>
                                    </div>
                                    <div class="col-auto dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <template v-if="chatroom.id">
                                                <a v-if="chatroom.attributes && chatroom.attributes.type == 'CodersStudio\\Chat\\App\\ChatroomGroup'"
                                                   class="dropdown-item" href="#"
                                                   @click="$modal.show('chatroomGroupManagement')">{{
                                                    trans('chat.group_management') }}</a>
                                                <a class="dropdown-item" href="#" @click="deleteChatroom">{{
                                                    trans('coders-studio/chat::chat.delete_chatroom') }}</a>
                                                <a class="dropdown-item" href="#" @click="clearChat">{{
                                                    trans('coders-studio/chat::chat.clear_chat') }}</a>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <div class="h-100 col chat__container__message__container" ref="messageContainer"
                                 v-scroll="handleScroll">
                                <template v-if="chatroom.id">
                                    <div v-if="_.isEmpty(messages)" class="text-muted text-center">
                                        {{ trans('coders-studio/chat::chat.no_messages') }}
                                    </div>
                                    <template v-else v-for="message in messages">
                                        <MessageIndex
                                            :chatroom="chatroom"
                                            :message="message"/>
                                    </template>
                                </template>
                            </div>
                            <div class="mt-3" v-if="chatroom.id">
                                <div class="form-group mb-0">
                                    <div class="d-flex w-100 align-items-center">
                                        <ChatFileUpload ref="fileUpload" :chatroom="chatroom"/>
                                        <input name="name" class="form-control mr-3" v-model="form.data.body"
                                               @keyup.enter="send">
                                        <button type="button" name="button" class="btn btn-primary nowrap mb-0" @click="send">
                                            <span>
                                                <i class="fab fa-telegram-plane"></i>
                                            </span>
                                        </button>
                                        <button v-if="callAbility && canCallPhone" type="button" name="button" class="btn btn-primary nowrap mb-0"
                                                @click="sendSms">
                                                <span>
                                                    <i class="fas fa-envelope"></i>
                                                </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="small text-muted typing" v-if="!_.isEmpty(typing)">
                                    <div v-for="item in typing">
                                        <strong>{{ item.name }}</strong> {{ trans('coders-studio/chat::chat.is_typing')
                                        }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <modal name="chatroomGroupManagement" height="auto">
            <ChatroomForm :chatroom="chatroom"/>
        </modal>
        <modal name="newChatroom" height="auto">
            <ChatroomForm/>
        </modal>
        <div class="modal fade" id="newChatroom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">

            </div>
        </div>
        <modal name="call" height="auto">
            <CallModal/>
        </modal>

        <v-dialog/>

        <notifications group="foo"/>
        <!-- <vue-draggable-resizable :resizable="false" :h="100" :w="300">
            <div class="card h-100">
                <div class="card-body small p-2 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-center" @click="$modal.show('call')">
                        <div class="bg-secondary d-inline-block" style="width: 40px; height: 40px; border-radius: 50%"></div>
                        <div class="ml-2">
                            John Doe
                        </div>
                    </div>
                    <div class="text-center mt-auto">
                        00:05:00
                    </div>
                </div>
            </div>
        </vue-draggable-resizable> -->
    </div>
</template>

<script>
    import ChatFunctionality from './ChatFunctionality.js'

    export default {
        name: 'Chat',
        mixins: [ChatFunctionality],
    }
</script>

<style>
    .message:hover .delete {
        display: block;
    }

    .delete {
        position: absolute;
        right: 0;
        display: none;
    }

    .chat__container__message__container {
        overflow-y: auto;
    }

    .vdr {
        border: none;
    }

    .chatroom__list {
        overflow-y: auto;
    }

    #chat__container .dropdown-toggle:after {
        content: none
    }

    .typing {
        position: absolute;
    }

</style>
