<template>
	<div>
		<file-upload
	    ref="upload"
	    :headers="{ 'X-CSRF-TOKEN': token, 'X-Requested-With': 'XMLHttpRequest' }"
	    :multiple="true"
	    v-model="attachments"
	    :post-action="'/chatrooms/'+this.chatroom.id+'/upload'"
	    @input-file="inputFile"
	    @input-filter="inputFilter">
	        <button type="button" name="button" class="btn">
	        	<h4 class="m-0">
                    <i class="fa fa-paperclip text-primary"></i>
                </h4>
	        </button>
	    </file-upload>
		<modal name="attachments" height="auto" @before-close="beforeClose">
            <ChatAttachmentModal
            ref="attachmentsComponent"
            :attachments="attachments"
            :remove="remove"
            :upload="upload" />
        </modal>
	</div>
</template>
<script type="text/javascript">
	import ChatSendMessage from './mixins/ChatSendMessage.js'
	import ChatAttachmentModal from './ChatAttachmentModal.vue'
	export default {
		name: 'ChatFileUpload',
		mixins: [ChatSendMessage],
		data() {
			return {
				attachments: [],
				token: document.head.querySelector('meta[name="csrf-token"]').content,
			}
		},
		props: {
			chatroom: {
				default: () => {
					return {}
				}
			}
		},
		methods: {
			inputFile: function (newFile, oldFile) {
	            if (newFile && oldFile && !newFile.active && oldFile.active) {
	            	this.form.data.media.push(newFile.response);
	                if (this.$refs.upload.uploaded) {
	                    this.form.data.body = this.$refs.attachmentsComponent.description
	                    this.send();
	                    this.$refs.upload.clear()
	                    this.$modal.hide('attachments')
	                }
	                if (newFile.xhr) {
	                }
	            }
	        },
	        inputFilter: function (newFile, oldFile, prevent) {
	            if (!/\.(jpeg|jpe|jpg|gif|png|webp|pdf|pdf|txt|xls|xlsx|doc|docx)$/i.test(newFile.name)) {
                	this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: this.trans('chat.result'),
                        text: this.trans('chat.something_went_wrong')
                    });
                    return prevent()
                }
	            newFile.blob = ''
	            let URL = window.URL || window.webkitURL
	            if (URL && URL.createObjectURL) {
	                newFile.blob = URL.createObjectURL(newFile.file)
	            }
	            this.$modal.show('attachments');
	        },
	        remove(file) {
	        	if (_.size(this.attachments) == 1) {
	            	this.$refs.upload.clear()
	            	this.$modal.hide('attachments')
	            } else {
	            	this.$refs.upload.remove(file)
	            }
	        },
	        upload() {
	            this.$refs.upload.active = true
	        },
	        onSuccessSend() {
	            this.form = {
	                data: {
	                    body: null,
	                    media: [],
	                    type: 'text'
	                },
	            },
	            this.$refs.upload.clear()
	        },
	        beforeClose() {
	        	this.$refs.upload.clear()
	        }
		},
		components: {
			ChatAttachmentModal
		}
	}
</script>


<style>
    .file-uploads.file-uploads-html4 input, .file-uploads.file-uploads-html5 label {
        cursor: pointer !important;
    }
</style>