<template>
    <div class="px-2">
        <SearchingIndex :value="value" :options="options" />
    </div>
</template>

<script>
import SearchingIndex from './searching/Index.vue'
export default {
    name: 'Search',
    data() {
        return {
            value: [],
            options: []
        }
    },
    components: {
        SearchingIndex
    }
}
</script>

<style lang="css" scoped>
</style>
