<template>
    <div class="form-group">
        <div class="input-group mb-3">
            <input type="text" class="form-control rounded-0 border-secondary" @input="filter" v-model="search" placeholder="Search">
            <div class="input-group-append">
                <button @click="clearSearch" class="btn btn-light rounded-0 border-left-0 border-secondary d-flex align-items-center" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 50 50" style=" fill:#000000;">
                        <g id="surface1">
                            <path style=" " d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z "></path>
                        </g>
                    </svg>
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <tbody>
                    <template v-for="(item, index) in value">
                        <SearchingItem
                        @onPick="pickOrRemove"
                        :picked="true"
                        :classes="{ 'table-active': true }"
                        :option="item"
                        :index="index" />
                    </template>
                    
                    <template v-if="!_.isEmpty(filtered) || search">
                        <template v-for="(item, index) in notPickedFilteredOptions">
                            <SearchingItem
                            @onPick="pickOrRemove"
                            :option="item"
                            :index="index" />
                        </template>
                    </template>
                    <template v-else>
                        <template v-for="(item, index) in notPickedOptions">
                            <SearchingItem
                            @onPick="pickOrRemove"
                            :option="item"
                            :index="index" />
                        </template>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import SearchingItem from './Item.vue'
export default {
    name: 'SearchingIndex',
    data() {
        return {
            search: null,
            filtered: []
        }
    },
    props: {
        value: {
            type: Array,
            default: () => {
                return [];
            }
        },
        options: {
            type: Array,
            default: () => {
                return [];
            }
        }
    },
    methods: {
        pickOrRemove(data) {
            var index = _.findIndex(this.value, function(item) { return item.data.id == data.data.id; });
            if (index >= 0) {
                this.$delete(this.value, index)
            } else {
                this.value.push(data);
            }
        },
        filter() {
            var vm = this;
            this.filtered = _.filter(this.options, function(item, index) {
                return vm.search && _.toLower(item.data.attributes.name).indexOf(_.toLower(vm.search)) >= 0 && _.isUndefined(vm.value[index]);
            });
        },
        clearSearch() {
            this.search = null
            this.filter()
        }
    },
    computed: {
        notPickedFilteredOptions() {
            var vm = this;
            return _.filter(this.filtered, function(item, index) {
                return _.findIndex(vm.value, function(o) { return o.data.id == item.data.id; }) < 0;
            }); 
        },
        notPickedOptions() {
            var vm = this;
            return _.filter(this.options, function(item, index) {
                return _.findIndex(vm.value, function(o) { return o.data.id == item.data.id; }) < 0;
            }); 
        },
    },
    components: {
        SearchingItem
    }
    
}
</script>

<style type="text/css">
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,.075);
    }
    .fs-16 {
        font-size: 16px;
    }
    .pointer {
        cursor: pointer;
    }
</style>