<template>
	<tr :class="classes" class="pointer">
	    <td>
	        <div class="d-flex align-items-center">
	            <div>
	            	<img :src="option.data.attributes.avatar" :alt="option.data.attributes.name" :style="{ 'width': '50px', 'height': '50px', 'border-radius': '50%', 'object-fit': 'cover' }">
	            </div>
	            <div class="ml-2">
	                {{ option.data.attributes.name }}
	            </div>
	            <div class="ml-auto">
	            	<button class="btn btn-danger btn-xs" @click="$emit('onPick', option)" v-if="picked">
	            		<i class="fa fa-minus"></i>
	            	</button>
	            	<button class="btn btn-success btn-xs" @click="$emit('onPick', option)" v-else>
	            		<i class="fa fa-plus"></i>
	            	</button>
	            </div>
	        </div>
	    </td>
	</tr>
</template>
<script type="text/javascript">
	export default {
		name: 'SearchingItem',
		props: {
			option: {
				type: Object,
				default: {}
			},
			classes: {
				type: Object,
				default: () => {
					return {}
				}
			},
			index: {
				type: [String, Number],
				default: null
			},
			picked: {
				type: Boolean,
				default: false
			}
		},
	}
</script>