<template>
    <div style="display: inline-block">
        <div class="card pointer" style="position: fixed; bottom: 10px; right: 52px; z-index:100" v-if="minimized" @click="maximize">
            <div class="card-body small p-2">
                <div class="d-flex align-items-center">
                    <img :src="avatar" :style="{ 'width': '40px', 'height': '40px', 'border-radius': '50%', 'object-fit': 'cover' }">
                    <div class="ml-2">
                        {{ receiver }}
                    </div>
                </div>
                <div class="text-center">
                    {{ String(hour).padStart(2,0)+':'+String(minute).padStart(2,0)+':'+String(second).padStart(2,0) }}
                </div>
            </div>
        </div>

        <modal name="sipClient" :height="'50%'" :click-to-close="false">
            <div class="modal-content h-100">
                <div class="modal-header">
                    <h5></h5>
                    <button type="button" class="close" @click="stopAndHide" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="my-4">
                        <img :src="avatar" :style="{ 'width': '80px', 'height': '80px', 'border-radius': '50%', 'object-fit': 'cover' }">
                        <div class="">
                            {{ receiver }}
                        </div>
                    </div>
                    <div>
                        <i class="fa fa-spinner fa-pulse fa-2x" v-if="progress"></i>
                        <div v-else>
                            {{ timer }}
                            <p v-if="missed">{{ translate('admin.sip.missed_call') }}</p>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <button v-if="incoming" class="bg-success text-white d-flex justify-content-center align-items-center mr-5" @click="answer"
                                    style="border-radius: 50%; width: 40px; height: 40px">
                                <i class="fa fa-phone"></i>
                            </button>
                            <button v-if="!hanged && !missed" class="bg-danger text-white d-flex justify-content-center align-items-center" @click="hangup"
                                 style="border-radius: 50%; width: 40px; height: 40px">
                                <i class="fa fa-phone"></i>
                            </button>
                            <span v-if="hanged">Call finished</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="minimize">{{translate('admin.minimize')}}</button>
                </div>
            </div>
        </modal>
    </div>
</template>
<script type="text/javascript">
   export default {
        timers: {
            sec: { time: 1000, repeat: true }
        },
        name: 'SipClient',
        props: {

        },
        data() {
            return {
                progress: 1,
                hour: 0,
                minute: 0,
                second: 0,
                minimized: 0,
                phone: '',
                receiver: '',
                avatar: '',
                incoming: 0,
                connection: null,
                missed: 0,
                callbacks: {},
                device:'',
                hanged: 0
            }
        },
        watch: {},
        mounted() {
            var vm = this;
            this.Device.on('connect',function(connection){
                vm.progress = 0
                vm.$timer.start('sec');
            });
            this.Device.on('disconnect',function(connection){
                vm.$timer.stop('sec');
                if (vm.callbacks.answerCallback) {
                    vm.callbacks.answerCallback(vm.device, vm.timer, 'success');
                }
            });
            this.Device.on('incoming',function(connection) {
                var params = {'caller' : connection.customParameters.get('Caller')};
                axios.get('/twilio/callerinfo',{'params':params}).then(response => {
                    vm.receiver = response.data.name;
                    vm.avatar = response.data.avatar_thumb_url;
                    vm.incoming = 1;
                    vm.hanged = 0;
                    vm.connection = connection;
                    vm.$modal.show('sipClient');
                });
            });
            this.Device.on('cancel', function(connection){
                vm.incoming = 0;
                vm.missed = 1;
                vm.progress = 0;
                if (vm.callbacks.missedCallback) {
                    vm.callbacks.missedCallback(vm.receiver);
                }
            });
        },
       computed: {
            timer: function () {
                return String(this.hour).padStart(2,0)+':'+String(this.minute).padStart(2,0)+':'+String(this.second).padStart(2,0);
            }
       },
        methods: {
            sec() {
                this.second++;
                if (this.second == 60) {
                    this.second = 0;
                    this.minute++;
                }
                if (this.minute == 60) {
                    this.minute = 0;
                    this.hour++
                }
            },
            makeCall(phone,receiver,avatar, params = {}) {
                this.phone = phone;
                this.receiver = receiver;
                this.avatar = avatar;

                this.second = 0;
                this.minute = 0;
                this.hour = 0;

                this.progress = 1;
                if (params.callbacks) {
                    this.callbacks.answerCallback = params.callbacks.answerCallback;
                }
                if (params.device) {
                    this.device = params.device;
                }
                this.showAndDial();
            },
            showAndDial() {
                this.$modal.show('sipClient');
                var params = {};
                if (!this.phone.includes('user')) {
                    params.phoneNumber = this.phone;
                } else {
                    params.Called = this.phone;
                }
                this.Device.connect(params);
                // this.progress = 0;
                // this.$timer.start('sec');
            },
            hangup() {
                this.Device.disconnectAll();
                if (this.connection) {
                    this.connection.reject();
                    this.connection = null;
                }
                this.progress = 0;
                this.incoming = 0;
                this.hanged = 1;
            },
            answer() {
                if (this.connection) {
                    this.connection.accept();
                    this.progress = 0;
                    this.$timer.start('sec');
                    this.incoming = 0;
                }
            },
            stopAndHide() {
                this.$timer.stop('sec');
                this.Device.disconnectAll();
                this.$modal.hide('sipClient');
                this.missed = 0;
                this.second = 0;
                this.minute = 0;
                this.hour = 0;
                this.progress = 1;
                this.callbacks = {};
                this.device = '';
                this.hanged = 0;
            },
            minimize() {
                this.$modal.hide('sipClient');
                this.minimized = 1;
            },
            maximize() {
                this.$modal.show('sipClient');
                this.minimized = 0;
            }

        }

    }
</script>
