<template>
	<div>
		<ItemNomenclature v-on:on-select="onSelectItem" v-model="item" />
		<input type="hidden" v-model="form.name" v-validate="'required'" name="name">
		<div class="form-group row align-items-center" v-if="errors.has('name')">
		    <div class="col-form-label text-md-right col-md-2"></div>
		    <div class="col-md-9 col-xl-8">
				<div class="text-danger" v-cloak>{{ errors.first('name') }}</div>
		    </div>
		</div>
		<div class="form-group row align-items-center">
		    <label for="size" class="col-form-label text-md-right col-md-2">{{ translate('admin.item.columns.size') }}</label>
		    <div class="col-md-9 col-xl-8">
		        <input type="text" v-model="form.size" class="form-control" :placeholder="translate('admin.item.columns.size')" v-validate="" name="size" :readonly="item && item.id">
		        <div v-if="errors.has('size')" class="text-danger" v-cloak>{{ errors.first('size') }}</div>
		    </div>
		</div>

		<div class="form-group row align-items-center">
		    <label for="color" class="col-form-label text-md-right col-md-2">{{ translate('admin.item.columns.color') }}</label>
		    <div class="col-md-9 col-xl-8">
		        <input type="text" v-model="form.color" class="form-control" :placeholder="translate('admin.item.columns.color')" v-validate="" name="color" :readonly="item && item.id">
		        <div v-if="errors.has('color')" class="text-danger" v-cloak>{{ errors.first('color') }}</div>
		    </div>
		</div>

		<div class="form-group row align-items-center">
		    <label for="weight" class="col-form-label text-md-right col-md-2">{{ translate('admin.item.columns.weight') }}</label>
		    <div class="col-md-9 col-xl-8">
		        <input type="text" v-model="form.weight" class="form-control" :placeholder="translate('admin.item.columns.weight')" v-validate="'required'" name="weight">
		        <div v-if="errors.has('weight')" class="text-danger" v-cloak>{{ errors.first('weight') }}</div>
		    </div>
		</div>

        <div class="form-group row align-items-center">
            <label for="qty" class="col-form-label text-md-right col-md-2">{{ translate('admin.item.columns.qty') }}</label>
            <div class="col-md-9 col-xl-8">
                <input type="text" v-model="form.qty" class="form-control" :placeholder="translate('admin.item.columns.qty')" v-validate="'required|numeric'" name="qty">
                <div v-if="errors.has('qty')" class="text-danger" v-cloak>{{ errors.first('qty') }}</div>
            </div>
        </div>

		<div class="form-group row align-items-center">
		    <label for="price" class="col-form-label text-md-right col-md-2">{{ translate('admin.item.columns.price') }}</label>
		    <div class="col-md-9 col-xl-8">
		        <input type="text" v-model="form.price" class="form-control" :placeholder="translate('admin.item.columns.price')" v-validate="'required|numeric'" name="price">
		        <div v-if="errors.has('price')" class="text-danger" v-cloak>{{ errors.first('price') }}</div>
		    </div>
		</div>

		<div class="form-group row align-items-center">
		    <label for="info" class="col-form-label text-md-right col-md-2">{{ translate('admin.item.columns.info') }}</label>
		        <div class="col-md-9 col-xl-8">
		        <div>
		        	<textarea class="form-control" v-model="form.info" :readonly="item && item.id"></textarea>
		        	<div v-if="errors.has('info')" class="text-danger" v-cloak>{{ errors.first('info') }}</div>
		        </div>
		    </div>
		</div>

		<div class="form-group row align-items-center">
		    <label for="link" class="col-form-label text-md-right col-md-2">{{ translate('admin.item.columns.link') }}</label>
		    <div class="col-md-9 col-xl-8">
		        <input type="text" v-model="form.link" class="form-control" :placeholder="translate('admin.item.columns.link')" v-validate="'required'" name="link" :readonly="item && item.id">
		        <div v-if="errors.has('link')" class="text-danger" v-cloak>{{ errors.first('link') }}</div>
		    </div>
		</div>
	</div>
</template>
<script type="text/javascript">
	import ItemNomenclature from './Nomenclature.vue';
	import AppForm from '../app-components/Form/AppForm';
	export default {
		name: 'ItemCreate',
		mixins: [
			AppForm
		],
		components: {
			ItemNomenclature
		},
		props: {
			itemData: {
				type: Object,
				default: (data) => {
					return {
						name: null,
		                size: null,
		                color: null,
		                price: null,
		                info: null,
		                link: null,
					}
				}
			}
		},
		data() {
	        return {
	            form: this.itemData,
	            item: this.itemData
	        }
	    },
	    methods: {
	    	validate() {
	    		this.errors.clear();
	    		return this.$validator.validate('*')
	    	},
	    	onSelectItem() {
	            this.form = {};
	            this.form = this.item
	        }
	    }
	}
</script>
