<template>
	<div>
		<ItemNomenclature v-on:on-select="onSelectItem" v-model="item" />

		<div class="form-group row align-items-center">
		    <label class="col-form-label text-md-right col-md-2">
		    	{{ translate('admin.item.columns.size') }}
		    </label>
		    <div class="col-md-9 col-xl-8">
		        <input type="text" v-model="form.size" class="form-control" :placeholder="translate('admin.item.columns.size')">
		        <div v-if="errors.has('size')" class="text-danger" v-cloak>
		        	{{ errors.first('size') }}
		        </div>
		    </div>
		</div>

		<div class="form-group row align-items-center">
		    <label class="col-form-label text-md-right col-md-2">
		    	{{ translate('admin.item.columns.color') }}
		    </label>
		    <div class="col-md-9 col-xl-8">
		        <input type="text" v-model="form.color" class="form-control" :placeholder="translate('admin.item.columns.color')">
		        <div v-if="errors.has('color')" class="text-danger" v-cloak>
		        	{{ errors.first('color') }}
		        </div>
		    </div>
		</div>

		<div class="form-group row align-items-center">
		    <label class="col-form-label text-md-right col-md-2">
		    	{{ translate('admin.item.columns.weight') }}
		    </label>
		    <div class="col-md-9 col-xl-8">
		        <input type="text" v-model="form.weight" class="form-control" :placeholder="translate('admin.item.columns.weight')">
		        <div v-if="errors.has('weight')" class="text-danger" v-cloak>
		        	{{ errors.first('weight') }}
		        </div>
		    </div>
		</div>

		<div class="form-group row align-items-center">
		    <label class="col-form-label text-md-right col-md-2">
		    	{{ translate('admin.item.columns.info') }}
		    </label>
		    <div class="col-md-9 col-xl-8">
		        <textarea v-model="form.info" class="form-control"></textarea>
		        <div v-if="errors.has('info')" class="text-danger" v-cloak>
		        	{{ errors.first('info') }}
		        </div>
		    </div>
		</div>

		<div class="form-group row align-items-center">
		    <label class="col-form-label text-md-right col-md-2">
		    	{{ translate('admin.item.columns.link') }}
		    </label>
		    <div class="col-md-9 col-xl-8">
		        <input type="text" v-model="form.link" class="form-control" :placeholder="translate('admin.item.columns.link')">
		        <div v-if="errors.has('link')" class="text-danger" v-cloak>
		        	{{ errors.first('link') }}
		        </div>
		    </div>
		</div>
		<div class="text-right">
            <button class="btn btn-primary" :disabled="submiting" @click="update">
                <i class="fa" :class="submiting ? 'fa-spinner' : 'fa-download'"></i>
                {{ translate('admin.btn.save') }}
            </button>
        </div>
	</div>
</template>
<script type="text/javascript">
	import ItemNomenclature from './Nomenclature.vue';
	export default {
		name: 'ItemEdit',
		components: {
			ItemNomenclature
		},
		data() {
			return {
				form: this.data,
				item: this.data,
				submiting: false,
			}
		},
		props: {
			data: {
				type: Object,
				required: true,
				default: () => {
					return {}
				}
			}
		},
		methods: {
			onSelectItem() {
				this.form = {};
            	this.form = this.item
			},
			update: function onSubmit() {
		        this.submiting = true;

		        axios.post('/admin/items/' + this.data.id, this.form)
		        .then((response) => {
	          		return this.onSuccess(response.data);
        		})
		        .catch((errors) => {
		          	return this.onFail(errors.response.data.errors);
		        });
	      	},
		    onSuccess: function onSuccess(data) {
		      	this.submiting = false;
		      	if (data.redirect) {
		        	window.location.replace(data.redirect);
		      	}
		    },
		    onFail: function onFail(errors) {
		      	this.submiting = false;
	      		var bag = this.$validator.errors;
		      	bag.clear();
		      	Object.keys(errors).map(function (key) {
		        	var splitted = key.split('.', 2);
			        if (splitted.length > 1) {
			          	bag.add({
			            	field: splitted[0] + '_' + splitted[1],
			            	msg: errors[key][0]
			          	});
			        } else {
			          	bag.add({
			            	field: key,
			            	msg: errors[key][0]
			          	});
			        }
		      	});
	      		if (errors) {
			        this.$notify({
			          	type: 'error',
			          	title: 'Error!',
			          	text: 'The form contains invalid fields.'
			        });
		      	}
		    },
		}
	}
</script>
