<template>
	<div class="form-group row align-items-center">
	    <label for="name" class="col-form-label text-md-right col-md-2">{{ translate('admin.item.columns.name') }}</label>
	    <div class="col-md-9 col-xl-8">
	        <multiselect
	        v-model="item"
	        :options="items"
	        track-by="name"
	        :searchable="true"
	        @search-change="getItems"
	        :taggable="true"
	        @tag="addItem"
	        @select="onSelect"
	        label="name"></multiselect>
	        <div v-if="errors.has('nomenclature_name')" class="text-danger" v-cloak>{{ errors.first('nomenclature_name') }}</div>
	    </div>
	</div>
</template>
<script type="text/javascript">
	export default {
		name: 'ItemNomenclature',
		data() {
			return {
				item: this.value,
				items: [],
				newItems: []
			}
		},
		props: {
			value: {
				validator: prop => typeof prop === 'object' || prop === null,
				required: true,
				default: null
			}
		},
		mounted() {
	        this.getItems();
	    },
	    methods: {
	        getItems(query = null) {
	            axios.get('/admin/items', {
	            	params: {
	            		search: query
	            	}
	            })
	            .then(response => {
	                this.items = response.data.data.data;
	                this.items = this.items.concat(this.newItems)
	            })
	        },
	        addItem(item) {
	            item = {
	                id: null,
	                name: item,
	                size: null,
	                color: null,
	                info: null,
	                link: null,
                    weight: null
	            }
	            this.newItems.push(item);
	            this.items = this.items.concat(this.newItems);
	            this.item = item;
	            this.$emit('input', item);
	            this.$emit('on-select');
	        },
	        onSelect(selectedOption, id) {
	        	this.$emit('input', selectedOption);
	        	this.$emit('on-select');
	        }
	    }
	}
</script>
