<template>
	<div class="card">
		<div class="card-header">
			{{ translate('admin.item.actions.index') }}
		</div>
		<div class="card-body">
			<div class="text-right" v-if="create">
				<a role="button" class="btn btn-primary" @click="$modal.show('itemCreate')">
					<i class="zmdi zmdi-plus"></i>
					{{ translate('admin.item.actions.create') }}
				</a>
			</div>
			<item-table
			v-model="selected"
			:paginated-data="items"></item-table>
			<b-pagination
				v-model="items.current_page"
				:total-rows="items.total"
				:per-page="items.per_page"
				@input="pagination"
		    ></b-pagination>
		</div>
		<modal name="itemCreate" height="80%" @before-close="beforeClose" v-if="create">
			<div class="modal-content d-flex h-100 flex-column">
				<div class="modal-header">
					<div>
	                    {{ translate('admin.item.actions.create') }}
	                </div>
	                <button type="button" class="close" @click="$modal.hide('itemCreate')">
	                    <span aria-hidden="true">&times;</span>
	                </button>
				</div>
				<div class="modal-body h-100">
					<ItemCreate :action="''" :item-data="currentItem" ref="itemCreate" />
				</div>
				<div class="modal-footer text-right">
					<a class="btn btn-primary" @click="saveItem">
	                    {{ translate('admin.btn.save') }}
	                </a>
				</div>
			</div>
		</modal>
	</div>
</template>
<script type="text/javascript">
	import ItemTable from './Table.vue';
	import { ErrorBag } from 'vee-validate';
	import ItemCreate from './Create.vue'
	export default {
		name: 'ItemSelect',
		data() {
			return {
				items: {
					data: this.attachedItems,
					current_page: 1,
					per_page: 10,
					total: null,
				},
				selected: [],
				newItems: [],
				currentItem: {},
				link: null
			}
		},
		props: {
			fails: {
				required: false,
				default: () => {
					return new ErrorBag();
				}
			},
			priceInput: {
				type: Boolean,
				required: false,
				default: false
			},
			qtyInput: {
				type: Boolean,
				required: false,
				default: false
			},
			selectable: {
				type: Boolean,
				required: false,
				default: true
			},
			create: {
				required: false,
            	type: Boolean,
            	default: true
			},
            attachedItems: {
            	type: Array,
            	required: false,
                default: () => {
                    return []
                }
            },
		},
		mounted() {
			if (this.attachedItems) {
				this.selected = this.items.data = _.map(this.attachedItems, (o) => {
					return {
						id: o.id,
						name: o.name,
						size: o.size,
						color: o.color,
						weight: o.weight,
						link: o.link,
						qty: o.pivot.qty,
						price: o.pivot.price,
						pivot: {
							qty: this.create ? null : o.pivot.qty
						}
					}
				});
			}
		},
		components: {
			ItemCreate,
			ItemTable
		},
		methods: {
			onSelectItem() {
				var data = _.forEach(this.items.data, (o) => {
					if (_.includes(this.selected, o.id)) return o;
				})
				this.selectedItems = _.keyBy(data, 'id');
			},
			pagination(page = thos.items.current_page) {
				axios.get(this.link, {
					params: {
						page: page,
						per_page: this.items.per_page,
					}
				})
				.then(response => {
					this.items = response.data.data
					this.items.data = _.map(this.items.data, (item) => {
						let selectedItem = _.find(this.selected, { id: item.id });
						if (selectedItem) {
							return selectedItem;
						}
						return item;
					});
				});
			},
			getData(link) {
				this.link = link;
				axios.get(this.link, {
					params: {
						page: 1,
						per_page: this.items.per_page,
					}
				})
				.then(response => {
					this.items = response.data.data
				})
			},
			saveItem() {
				this.$refs.itemCreate.validate()
				.then(response => {
					if (response) {
						let newItem = this.$refs.itemCreate.form;
						newItem.pivot = {
							qty: null
						}
						this.items.data.push(this.$refs.itemCreate.form);
						this.$modal.hide('itemCreate');
					}
				})
			},
			deleteItem(index) {
				var vm = this
				this.$modal.show('dialog', {
	                title: this.translate('admin.deleting'),
	                text: this.translate('admin.are_you_sure'),
	                buttons: [
	                    {
	                        title: this.translate('admin.cancel'),
	                        class: 'btn btn-light rounded-0'
	                    },
	                    {
	                        title: this.translate('admin.yes'),
	                        class: 'btn btn-danger rounded-0',
	                        handler: () => {
	                            this.$delete(this.items.data, index)
	                            this.$modal.hide('dialog');
	                        }
	                    },
	                ]
	            })
			},
			beforeClose() {
				this.currentItem = {}
			},
		}
	}
</script>
