<template>
	<div class="table-responsive">
		<table class="table items__table">
			<thead>
				<tr>
					<th v-if="$parent.selectable"></th>
					<th>{{ translate('admin.item.columns.id') }}</th>
	                <th>{{ translate('admin.item.columns.name') }}</th>
	                <th>{{ translate('admin.item.columns.size') }}</th>
	                <th>{{ translate('admin.item.columns.color') }}</th>
	                <th>{{ translate('admin.item.columns.weight') }}</th>
	                <th>{{ translate('admin.item.columns.link') }}</th>
	                <th style="max-width: 100px; width: 100px;" v-if="$parent.priceInput">{{ translate('admin.item.columns.price') }}</th>
					<th style="max-width: 100px; width: 100px;">{{ translate('admin.item.columns.qty') }}</th>
					<th v-if="$parent.create"></th>
	                <slot name="th"></slot>
				</tr>
			</thead>
			<tbody>
            <template v-for="(item, index) in paginatedData.data" >
				<tr v-if="item.pivot.qty !== 0">
					<td v-if="$parent.selectable">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" :id="'item' + item.id" v-model="$parent.selected" :value="item" @change="onSelect">
							<label class="custom-control-label" :for="'item' + item.id"></label>
						</div>
					</td>
					<td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.size }}</td>
                    <td>{{ item.color }}</td>
                    <td>{{ item.weight }}</td>
                    <td>{{ item.link }}</td>
                    <td v-if="$parent.priceInput">
            			<input type="number" class="form-control" v-model="item.price" min="1">
					</td>
					<td>
						<template v-if="$parent.qtyInput">
							<input type="number" class="form-control" v-model="item.qty" @change="checkMaxValue(index)" min="1">
	            			<div class="text-muted small">
	            				Max: {{ item.pivot.qty }}
	            			</div>
	            			<div class="text-danger mt-3 small" v-if="$parent.fails.has('item_ids_' + item.id)">
	                    		{{ $parent.fails.first('item_ids_' + item.id) }}
	                    	</div>
						</template>
						<template v-else>
							{{ item.pivot.qty }}
						</template>
					</td>
					<td v-if="$parent.create">
						<button @click="$parent.deleteItem(index)" class="btn btn-danger btn-sm">
							<i class="fas fa-trash-alt"></i>
						</button>
					</td>
                    <slot name="td"></slot>
				</tr>
            </template>
			</tbody>
		</table>
	</div>
</template>
<script type="text/javascript">
	export default {
		name: 'ItemTable',
		data() {
			return {
				extra: []
			}
		},
		props: {
			paginatedData: {
				type: Object,
				required: false,
				default: () => {
					return {
						data: [],
						current_page: 1,
						per_page: 10,
						total: null,
					}
				}
			},
			value: {
				type: Array,
				required: false,
				default: () => {
					return []
				}
			}
		},
		methods: {
			onSelect() {
				return
				this.$emit('input', this.selected);
			},
			checkMaxValue(index) {
				if (_.isNull(this.paginatedData.data[index].pivot.qty)) return;
				if (_.toInteger(this.paginatedData.data[index].qty) <= _.toInteger(this.paginatedData.data[index].pivot.qty)) return;
				this.$set(this.paginatedData.data[index], 'qty', _.toInteger(this.paginatedData.data[index].pivot.qty));
            }
		}
	}
</script>
