<template>
	<div class="modal-content rounded-0">
		<div class="modal-header">
			{{ trans('coders-studio/chat::chat.new_chatroom') }}
		</div>
        <div class="modal-body">
        	<div class="alert alert-danger" v-if="!_.isEmpty(fails)">
        		<div v-for="error in fails">
        			{{ _.head(error) }}
        		</div>
        	</div>
			<SearchingIndex :value="users" :options="options" />
			<template v-if="_.size(users) > 1">
				<div class="form-group">
					<label for="">{{ trans('coders-studio/chat::chat.group_name') }}</label>
					<input type="text" v-model="form.chatroom.name" class="form-control" :placeholder="trans('coders-studio/chat::chat.group_name')">
				</div>
				<div class="form-group">
					<label for="">{{ trans('coders-studio/chat::chat.group_description') }}</label>
					<textarea v-model="form.chatroom.description" class="form-control" :placeholder="trans('coders-studio/chat::chat.group_description')"></textarea>
				</div>
			</template>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="$modal.hide('newChatroom'); $modal.hide('chatroomGroupManagement')">{{ trans('coders-studio/chat::chat.cancel') }}</button>
			<button type="button" class="btn btn-primary" @click="sendForm">{{ trans('coders-studio/chat::chat.ok') }}</button>
        </div>
    </div>
</template>
<script type="text/javascript">
import SearchingIndex from '../searching/Index.vue'
	export default {
		name: 'ChatroomForm',
		data() {
			return {
				form: {
					chatroom: {
						name: this.chatroom.attributes.name,
						description: this.chatroom.attributes.description,
					},
					users: [],
					type: 'private'
				},
				users: this.chatroom.relationships.users.data,
				options: [],
				fails: [],
				user: window.app.user
			}
		},
		props: {
			chatroom: {
				default: () => {
					return {
						attributes: {
							name: null,
							description: null,
						},
						relationships: {
							users: {
								data: []
							}
						},
						id: null
					}
				}
			}
		},
		mounted() {
			this.getUsers();
		},
		methods: {
			sendForm() {
				this.fails = [];
				this.form.users = _.map(this.users, 'data.id');
				this.form.type = 'private'
				if (_.size(this.form.users) > 1) {
					this.form.type = 'group'
				}
				if (_.isNull(this.chatroom.id)) {
					this.create();
				} else {
					this.update();
				}
			},
			update() {
				axios.put('/chatrooms/'+this.chatroom.id, this.form)
	            .then(response => {
	            	this.$modal.hide('newChatroom')
	            	this.$notify({
	                    type: 'success',
	                    title: this.trans('coders-studio/chat::chat.chatroom_updated'),
	                    text: this.trans('coders-studio/chat::chat.success')
	                });
	            })
	            .catch(error => {
	            	this.fails = error.response.data.errors
	            })
			},
			create() {
				axios.post('/chatrooms', this.form)
	            .then(response => {
	            	this.$modal.hide('newChatroom')
	            	this.$notify({
	                    type: 'success',
	                    title: this.trans('coders-studio/chat::chat.chatroom_created'),
	                    text: this.trans('coders-studio/chat::chat.success')
	                });
	            })
	            .catch(error => {
	            	this.fails = error.response.data.errors
	            })
			},
			getUsers() {
				axios.get('/users/'+this.user.id+'/contacts')
				.then(response => {
					this.options = response.data.data
				})
				.catch(error => {
					
				})
			}
		},
		components: {
			SearchingIndex
		}
	}
</script>