<template>
    <div class="px-0">
        <div class="input-group px-2 py-2">
            <input type="text" class="form-control rounded-0 bg-light border-0" :placeholder="trans('coders-studio/chat::chat.search')" v-model="search" @input="filter">
        </div>
        <ul class="list-group list-group-flush">
            <template v-for="chatroom in filteredChatrooms">
                <li class="list-group-item list-group-item-action border-0" :class="{ 'active': activeChatroom.id == chatroom.id }" @click="toChatroom(chatroom)" :key="chatroom.id">
                    <a href="#" :class="{ 'text-white': activeChatroom.id == chatroom.id }">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                {{ chatroom.attributes.name }}
                            </div>
                            <div v-if="chatroom.attributes.unread_messages_count">
                                <div class="badge badge-primary">{{ chatroom.attributes.unread_messages_count }}</div>
                            </div>
                        </div>
                    </a>
                </li>
            </template>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'ChatroomList',
    data() {
        return {
            chatrooms: [],
            user: window.app.user,
            search: null,
            filteredChatrooms: []
        }
    },
    props: {
        toChatroom: {
            default: () => {}
        },
        activeChatroom: {
            default: null
        }
    },
    mounted() {
        this.getChatrooms();
        Echo.private('App.User.'+this.user.id)
        .listen('.CodersStudio\\Chat\\App\\Notifications\\ReadCreated')
        .listen('.CodersStudio\\Chat\\App\\Notifications\\ChatroomCreated')
        .listen('.CodersStudio\\Chat\\App\\Notifications\\ChatroomDeleted')
        .notification((notification) => {
            if (notification.type == 'CodersStudio\\Chat\\App\\Notifications\\ReadCreated') {
                this.onNewMessage(notification);
            } else if (notification.type == 'CodersStudio\\Chat\\App\\Notifications\\ChatroomCreated') {
                this.chatrooms.push(notification.data)
                this.filter();
            } else if (notification.type == 'CodersStudio\\Chat\\App\\Notifications\\ChatroomDeleted') {
                var index  = _.findIndex(this.chatrooms, function(o) { return o.id == notification.data.id; });
                this.$delete(this.chatrooms, index);
                this.filter();
            }
        });
    },
    methods: {
        getChatrooms() {
            axios.get('/chatrooms')
            .then(response => {
                this.chatrooms = response.data.data;
                this.filteredChatrooms = this.chatrooms;
                this.sort();
                if(this.activeChatroom.id && !this.activeChatroom.attributes){
                    this.toChatroom(_.find(this.chatrooms, this.activeChatroom));
                }
            })
        },
        filter() {
            if (_.isEmpty(this.search)) {
                this.filteredChatrooms = this.chatrooms
            } else {
                var vm = this;
                this.filteredChatrooms = _.filter(this.chatrooms, function(item) {
                    return _.toLower(item.attributes.name).indexOf(_.toLower(vm.search)) >= 0;
                });
            }
        },
        sort() {
            var result = _.sortBy(this.chatrooms, ['attributes.unread_messages_count', 'attributes.last_message_date']).reverse();
            this.filteredChatrooms = result
        },
        onNewMessage(notification) {
            if (this.activeChatroom.id != notification.data.id) {
                var index = _.findIndex(this.chatrooms, function(o) { return o.id == notification.data.id; });
                this.$set(this.chatrooms[index].attributes, 'unread_messages_count', notification.meta.unread_messages_count)
                this.sort();
            }
        },
        reset(chatroomId) {
            var index = _.findIndex(this.chatrooms, function(o) {
                return o.id == chatroomId;
            })
            if (index >= 0) {
                this.$set(this.chatrooms[index].attributes, 'unread_messages_count', 0)
            }
        }
    }
}
</script>

<style lang="css" scoped>
</style>
