<template>
	<div class="gx-card">
		<div class="gx-card-body">
			<div class="row">
				<div class="col-md-3">
					<label for="">{{ translate('admin.user.salary.from') }}</label>
					<input type="date" class="form-control" v-model="params.from">
				</div>
				<div class="col-md-3">
					<label for="">{{ translate('admin.user.salary.to') }}</label>
					<input type="date" class="form-control" v-model="params.to">
				</div>
				<div class="col-auto align-self-end">
					<button class="gx-btn gx-btn-default mb-0" @click="getData">
						<i class="zmdi zmdi-search"></i>
					</button>
				</div>
			</div>
			<div class="table-responsive">
				<apexchart type="line" height="300" :options="chartOptions" :series="series"></apexchart>
				<table class="table">
					<thead>
						<tr>
							<th>{{ translate('admin.user.salary.created_at') }}</th>
							<th>{{ translate('admin.user.salary.amount') }}</th>
							<th>{{ translate('admin.user.salary.project_id') }}</th>
							<th>{{ translate('admin.user.salary.task_id') }}</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in salaries">
							<td>{{ item.created_at }}</td>
							<td>{{ item.amount }}</td>
							<td>{{ item.project.name }}</td>
							<td>{{ item.task_id }}</td>
						</tr>
						<tr>
							<td colspan="4" class="text-right">
								{{ translate('admin.user.salary.total') }}:
								<strong>
									{{ _.sumBy(salaries, function(o) { return _.parseInt(o.amount) }) }}
								</strong>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
	export default {
		name: 'UserSalary',
		mounted() {
			if (this.userId) {
				this.getData();
			}
		},
		data() {
			return {
				params: {
					from: null,
					to: null
				},
				salaries: [],
				chartOptions: {
		          	chart: {
		            	id: 'vuechart-example'
		          	},
		          	xaxis: {
		            	categories: []
		          	}
		        },
		        series: [{
          			data: []
        		}]
			}
		},
		props: {
			userId: {
				default: null
			}
		},
		methods: {
			getData() {
				axios.get('/users/' + this.userId + '/salary', {
					params: this.params
				})
				.then(response => {
					this.salaries = response.data.salaries
					this.params = response.data.params
					this.chartOptions = {...this.chartOptions, ...{
					    xaxis: {
					        categories: response.data.chartData.categories
					    }
					}}
					this.series[0].data = response.data.chartData.data
				})
				.catch(error => {

				})
			}
		}
	}
</script>
