<template>
	<div>
		<div class="row align-items-center mb-3">
			<div class="col-md-2 text-md-right">
	            <label for="">{{ translate('admin.user.columns.employees') }}</label>
	        </div>
	        <div class="col-md-9 col-xl-8">
	        	<multiselect
	        		v-model="selected"
	        		:options="projects"
	        		:multiple="false"
	        		group-values="employees"
	        		group-label="name"
	        		:group-select="false"
	        		track-by="id"
	        		@input="onInput"
	        		@select="onSelect"
	        		label="user_name">
	        			<span slot="noResult">Nothing found</span>
        		</multiselect>
	        </div>
		</div>
	</div>
</template>
<script type="text/javascript">
	export default {
		name: 'UserSelectEmployee',
		data() {
			return {
				projects: [],
				selected: null,
			}
		},
		props: {
			value: {
				type: [String, Number],
				required: false,
				default: null
			},
			employeeId: {
				default: null
			}
		},
		mounted() {
			this.getData();
		},
		watch: {
			value: function() {
				this.selected = {};
				_.forEach(this.projects, (project) => {
					this.selected = _.find(project.employees, { id: this.value });
				});
			}
		},
		methods: {
			getData() {
				axios.get('/employees')
				.then(response => {
					this.projects = response.data.data;
					if (this.value) {
						_.forEach(this.projects, (project) => {
							this.selected = _.find(project.employees, { id: this.value });
						});
					}
				})
			},
			onInput(value, id) {
				this.$emit('input', null)
				if (value) this.$emit('input', value.id)
				this.$emit('on-select')
			},
			onSelect() {
				this.$emit('on-select')
			}

		},
	}
</script>
