// Variables
// @import "variables";

// Vendor
// @import "vendor/index";

// Your own, project specific styles
// @import "styles/index";


span.typeMail{
    border: 1px solid black;
    margin-right: 5px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

span.typeMail.active{
    background-color: #a1e082;
}

@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";
@import "~quill/dist/quill.bubble.css";
@import '~@fortawesome/fontawesome-free/css/all';
// @import '~@fortawesome/fontawesome-free/css/brands';
//@import '~font-awesome/scss/font-awesome.scss';

.nowrap {
    white-space: nowrap !important;
}
@import "~animate.css/source/base";
@import "~bootstrap/scss/bootstrap";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import "~material-design-iconic-font/scss/material-design-iconic-font";

@import "mouldifi/mouldifi-core";
@import "mouldifi/mouldifi-forms";

.dropdown-menu-perfectscrollbar, .dropdown-menu-perfectscrollbar1 {
	max-height: 300px;
	height: auto;
}

.modal-body {
	overflow: auto;
}

td.nowrap .btn {
	margin: 0 !important;
}

.gx-main-container {
	overflow: auto;
}

.comment_limit {
	cursor: pointer;
	max-width: 100px;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}

.gx-main-content {
	padding: 36px 10px 0 10px;
}
@media screen and (min-width: 1440px) {
  	.items__table {
  		table-layout: fixed;
  	}
}

.module-box-header .search-addressee-bar {
    min-width: 500px;
    max-width: 500px;
}
.no-left-padding {
    padding-left: 0.75rem !important;
}

.colors {
    opacity: 0.8 !important;
    position: inherit !important;
    width: 8px !important;
    height: 8px !important;
    margin: 1px;
    color: rgba(255, 0, 0, 0);
    cursor: pointer;
    border: 1px solid black;
}
.colors.green {
    background-color: green;
}
.colors.invisible {
    background-color: rgba(0, 128, 0, 0.1);
}
.colors.red {
    background-color: red;
}
.colors.orange {
    background-color: orange;
}
.colors.blue {
    background-color: blue;
}



tr.green, tr.green:hover{
    background-color: #4caf5070!important;
    color: black;
}
tr.invisible{
    background-color: rgba(76, 175, 80, 0) !important;
}
tr.red, tr.red:hover {
    background-color: #f4433687!important;
    color: black;
}

tr.orange, tr.orange:hover {
    background-color: #ffc1076b!important;
    color: black;
}

tr.blue, tr.blue:hover {
    background-color: #007bff59!important;
    color: black;
}
