<template>
	<div class="col-12">
        <div class="card event-card">
            <div class="event-card__actions p-2">
                <a href="javascript:void(0)" class="gx-fab-btn gx-btn-deep-orange gx-btn-fab-xs" @click.prevent="deleteEvent">
                    <i class="zmdi zmdi-delete"></i>
                </a>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="bg-light text-black alert fade show border border-light">

                            {{ business_process_event.event.title }}
                        </div>
                    </div>
                </div>
                <draggable :list="business_process_event.action_business_process_events" group="actions" class="row justify-content-center d-flex align-items-stretch" @sort="sort">
                    <div class="col-md-4" v-for="(action_business_process_events, action_business_process_events_index) in business_process_event.action_business_process_events">
                        <div class="alert alert-info text-center h-100 action-card" role="alert">
                            <div class="action-card__actions p-2">
                                <a href="javascript:void(0)" class="gx-fab-btn gx-btn-amber gx-btn-fab-xs mr-1" @click.prevent="$modal.show('addAction', { business_process_event_index: business_process_event_index, action_business_process_events_index: action_business_process_events_index })">
                                    <i class="zmdi zmdi-edit"></i>
                                </a>
                                <a href="javascript:void(0)" class="gx-fab-btn gx-btn-deep-orange gx-btn-fab-xs" @click.prevent="deleteAction(action_business_process_events_index)">
                                    <i class="zmdi zmdi-delete"></i>
                                </a>
                            </div>
                            <div class="font-weight-bold">
                                {{ action_business_process_events.action.title }}
                            </div>
                            <div>
                                {{ translate('admin.businessprocess.users') }}:
                                <template v-if="_.size(action_business_process_events.users) == 1">
                                    {{ _.head(action_business_process_events.users).name }}
                                </template>
                                <template v-else>
                                    {{ _.size(action_business_process_events.users) }}
                                </template>
                            </div>
                        </div>
                    </div>
                </draggable>
                <div class="text-center">
                    <button class="btn btn-primary" @click="$modal.show('addAction', { business_process_event_index: business_process_event_index })">
                        <i class="zmdi zmdi-plus"></i>
                        {{ translate('admin.businessprocess.add_action') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
	export default {
		name: 'BusinessProcessEvent',
		props: {
			business_process_event: {
				default: {
                    actions: []
                }
			},
            business_process_event_index: {
                default: null
            }
		},
        methods: {
            deleteAction(actionIndex) {
                this.deleteDialog(() => {
                    this.$emit('delete-action', this.business_process_event_index, actionIndex)
                })
            },
            deleteEvent() {
                this.deleteDialog(() => {
                    this.$emit('delete-event', this.business_process_event_index)
                })
            },
            sort(data) {
                console.log(data.oldIndex, data.newIndex)
            }
        },
	}
</script>
<style type="text/css">
    .action-card, .event-card {
        position: relative;
    }
    .action-card__actions, .event-card__actions {
        width: 100%;
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        text-align: right;
    }
    .action-card:hover .action-card__actions, .event-card:hover .event-card__actions {
        display: block;
    }
</style>
