<template>
	<div>
		<hr>
		<h3 class="font-weight-bold">
			{{ translate('admin.businessprocess.select_mail_template') }}
		</h3>
		<div class="input-group">
            <input type="text" class="form-control" v-model="searchFor" @input="getData">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" @click="getData">
                    <i class="zmdi zmdi-search"></i>
                </button>
            </div>
        </div>
		<div class="table-responsive mt-3">
			<table class="table">
				<tbody>
					<tr v-for="item in templates.data">
						<td>
							<div class="radio radio-replace radio-primary">
                                <input type="radio" :id="'radio' + item.id" v-model="selectedTemplate" :value="item">
                                <label :for="'radio' + item.id"></label>
                            </div>
						</td>
						<td>{{ item.id }}</td>
						<td>{{ item.title }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<b-pagination
		v-model="templates.current_page"
		:total-rows="templates.total"
		@change="getData"
		:per-page="templates.per_page"></b-pagination>
	</div>
</template>
<script type="text/javascript">
	export default {
		name: 'MailTemplates',
		data() {
			return {
				templates: {
					data: [],
					current_page: 1
				},
				selectedTemplate: this.selected,
				searchFor: null
			}
		},
		props: {
			selected: {
				default: () => {
					return null
				}
			}
		},
		mounted() {
			this.getData();
		},
		methods: {
			getData(page = 1) {
				axios.get('/admin/businessprocesses/mail_templates', {
					params: {
						page: page,
						searchFor: this.searchFor
					}
				})
				.then(response => {
					this.templates = response.data.templates
					if (_.isNull(this.selectedTemplate)) {
						var template = _.head(this.templates.data)
						if (template) {
							this.selectedTemplate = template
						}
					}
				})
			}
		}
	}
</script>
