<template>
	<div class="mt-3">
		<h3 class="font-weight-bold">
			{{ translate('admin.businessprocess.who_to_notify') }}
		</h3>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th width="10%"></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="item in roles">
						<td>
							<div class="checkbox checkbox-replace checkbox-primary">
                                <input type="checkbox" :id="'rolesCheckbox' + item.id" v-model="selectedRoles" :value="item" @change="selectRole">
                                <label :for="'rolesCheckbox' + item.id"></label>
                            </div>
						</td>
						<td>{{ item.name }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="input-group">
            <input type="text" class="form-control" v-model="searchFor" @input="getUsers">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" @click="getUsers">
                    <i class="zmdi zmdi-search"></i>
                </button>
            </div>
        </div>
		<div class="table-responsive mt-3">
			<table class="table">
				<thead>
					<tr>
						<th width="10%"></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="item in users.data">
						<td>
							<div class="checkbox checkbox-replace checkbox-primary">
                                <input type="checkbox" :id="'checkbox' + item.id" v-model="selectedUsers" :value="item" @change="onSelectUser">
                                <label :for="'checkbox' + item.id"></label>
                            </div>
						</td>
						<td>{{ item.id }}</td>
						<td>{{ item.name }}</td>
						<td>
							<span class="badge badge-primary" v-for="role in item.roles">
								{{ role.name }}
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<b-pagination
		v-model="users.current_page"
		:total-rows="users.total"
		@change="getUsers"
		:per-page="users.per_page"></b-pagination>
	</div>
</template>
<script type="text/javascript">
	export default {
		name: 'Users',
		mounted() {
			this.getRoles();
			this.getUsers();
		},
		props: {
			selected: {
				type: Object,
				required: false,
				default: () => {
					return {
						users: [],
						roles: []
					}
				}
			}
		},
		data() {
			return {
				users: {
					data: [],
					current_page: 1
				},
				selectedUsers: [],
				selectedRoles: this.selected.roles ? this.selected.roles : [],
				searchFor: null,
				roles: [],
				selectedState: this.selected.users
			}
		},
		methods: {
			prepareData() {
				return _.map(this.selected, function (item) {
					return {
						id: item.id,
						name: item.name,
					}
				})
			},
			getUsers(page = 1) {
				axios.get('/admin/businessprocesses/users', {
					params: {
						page: page,
						searchFor: this.searchFor
					}
				})
				.then(response => {
					this.users = response.data.users
					this.selectRole();
				})
			},
			getRoles() {
				axios.get('/admin/businessprocesses/roles')
				.then(response => {
					this.roles = response.data.roles
				})
			},
			selectRole() {
				this.selectedUsers = [];
				_.forEach(this.selectedRoles, (item) => {
					var data = _.forEach(this.users.data, (user) => {
						if (user.role_id == item.id) this.selectedUsers.push(user);
					});
				});
				this.selectedUsers = _.uniq(this.selectedUsers.concat(this.selectedState));
			},
			onSelectUser() {
				this.selectedState = this.selectedUsers
			}
		}
	}
</script>
