/* Module Style */

.gx-wrapper-module {
  @include display-flex(flex, column, nowrap);
  @include align-items(stretch);
  height: 100%;
}

.gx-module {
  position: relative;
  @include display-flex(flex, row, nowrap);
}

.module-side {
  position: relative;
  z-index: 2;
  @include display-flex(flex, column, nowrap);
  @include flex(0, 1, 230px);
  max-width: 230px;
  min-width: 230px;
}

.module-side-header {
  @include display-flex(flex, column, nowrap);
  padding-right: 20px;

  & .user-detail {
    padding: 15px 10px;
    text-align: center;
  }
}

.module-logo {
  min-height: 56px;
  color: $body-color;
  & h2 {
    font-weight: 600;
    font-size: 18px;
  }
}

.module-user-info {
  @include display-flex(flex, column, nowrap);
}

.module-user-detail {
  font-size: 12px;
}

.module-side-content {
  @extend .module-user-info;
}

.module-add-task {
  padding-bottom: 5px;
}

.plus-circle {
  padding: 0;
  border: solid 1px lighten($body-color, 14.5%);
  width: 14px;
  height: 14px;
  line-height: 13px;
  text-align: center;
  @include border-radius(50%);
  display: block;

  & i {
    margin: 0 !important;
  }
}

.module-nav {
  list-style: none;
  padding-left: 0;
  @include display-flex(flex, column, nowrap);
  @include justify-content(center);

  & li {
    @include display-flex(flex, column, nowrap);
  }

  & li a {
    padding: 5px 0;
    color: lighten($body-color, 14.5%);
    @include display-flex();
    @include align-items(center);
    text-decoration: none;

    &:hover,
    &:focus {
      color: $body-color;
    }

    &.active {
      color: $gx-primary;
    }
  }

  & li i {
    margin-right: 6px;
    font-size: 12px;
  }

  & li span {
    display: inline-block;
    vertical-align: middle;
  }

  & li.module-nav-label {
    padding: 40px 0 18px;
    @include display-flex();
    @include justify-content(space-between);
    @include align-items(center);

    & a {
      display: block;
      padding: 0;
    }

    & a i {
      margin-right: 0;
      font-size: 12px;
    }

    @media screen and (max-width: 575px) {
      padding: 25px 0 12px;
    }
  }

  & li.highlight {
    margin-bottom: 10px;

    & a {
      padding: 0;

      & .highlight-color {
        border: solid 1px $gray-200;
        padding: 1px 12px;
        @include border-radius(4px);
        display: inline-block;
        vertical-align: top;
        background-color: $white;
      }
    }
  }

  ul.module-nav-team {
    padding-left: 0;
    @include display-flex();
    margin: 0 -4px;

    & li {
      padding: 0 4px;
    }

    & .dashed-circle {
      border: dashed 1px $gx-primary;
      @include border-radius(50%);
    }
  }
}

ul.module-nav-user {
  list-style: none;
  padding: 0;
  margin-top: 25px;

  & li {
    margin-bottom: 15px;
  }

  & .user-profile .user-detail {
    @include display-flex();
  }

  & a.plus-circle {
    padding: 0;
    @include justify-content(center);
    -ms-flex-align: center;
    -webkit-align-self: center;
    align-self: center;
  }
}

.module-box {
  position: relative;
  z-index: 2;
  @include display-flex(flex, column, nowrap);
  @include flex(1, 1, auto);
  max-width: calc(100% - 230px);
}

.module-box-header {
  padding-bottom: 10px;
  min-height: 56px;

  & .search-bar {
    min-width: 350px;
    max-width: 350px;

    & .form-control {
      padding-left: 40px;
      background-color: transparent;

      &:focus {
        background-color: $white;
      }
    }

    & .search-icon {
      width: 25px;
      height: 33px;
      font-size: 13px;
      left: 0;
      top: 0;
      padding: 0;
    }
  }
}

.module-box-header {
  & .dropdown-menu {
    &:before,
    &:after {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $body-color;
      top: -12px;
      content: "";
      height: 12px;
      position: absolute;
      right: 10px;
      width: 10px;
    }

    &:after {
      border-bottom: 5px solid $white;
      top: -10px;
      height: 10px;
    }
  }

  & .nav-searchbox .dropdown-menu {
    &:before,
    &:after {
      left: 10px;
      right: auto;
    }
  }
}

.module-box-header-inner {
  @include display-flex();
  @include align-items(center);
  @include justify-content(space-between);
}

.module-box-content {
  background-color: $white;
  @include display-flex(flex, column, nowrap);
  @include border-radius(10px);
  border: solid 1px $gray-200;
}

.module-tab-header {
  overflow: hidden;
  margin: 20px 35px 0;

  @media screen and (max-width: 575px) {
    margin: 20px 20px 0;
  }
}

.module-box-topbar {
  padding: 20px 0;
  margin: 0 35px;
  border-bottom: solid 1px $gray-200;
  @include display-flex();
  @include align-items(center);
  @include justify-content(space-between);

  & h2 a:hover,
  & h2 a:focus {
    text-decoration: none;
  }

  @media screen and (max-width: 575px) {
    margin: 0 20px;
  }
}

.module-list-topbar {
  padding: 20px 0;
  margin: 0 35px;
  border-bottom: solid 1px $gray-200;
  @include display-flex();
  @include align-items(center);

  @media screen and (max-width: 575px) {
    margin: 0 20px;
  }
}

.module-topbar-user-detail {
  @include display-flex();
  @include align-items(center);

  & .user-profile .user-detail {
    @include display-flex();
  }
}

.module-side-scroll {
  padding-right: 35px;

  @media screen and (max-width: 991px) {
    padding-right: 20px;
  }
}

.module-list-scroll {
  padding: 0 35px;

  &1,
  &2,
  &3 {
    padding: 0 35px;

    @media screen and (max-width: 575px) {
      padding: 0 20px;
    }
  }

  @media screen and (max-width: 575px) {
    padding: 0 20px;
  }
}

.module-list-scroll-inner {
  padding: 0 35px;

  @media screen and (max-width: 575px) {
    padding: 0 20px;
  }
}

.module-box-topbar-todo {
  padding-left: 64px;

  @media screen and (max-width: 575px) {
    padding-left: 27px;
  }
}

.module-list-icon {
  @include display-flex();
  @include align-items(center);
  padding-right: 10px;
}

.bar-icon {
  margin-right: 15px;
}

.toolbar-separator {
  border-left: solid 1px $gray-400;
  // TODO надо разобраться
  // height: 100%;
  width: 1px;
  margin: 0 12px;
}

.toolbar-left {
  margin-left: auto;
}

.module-list {
  @include display-flex(flex, column, nowrap);
  @include justify-content(center);
}

.module-list-item {
  @include display-flex();
  @include align-items(center);
  padding: 15px 0;
  border-bottom: solid 1px $gray-200;
  //z-index: 5;
  position: relative;
  cursor: pointer;

  &.mail-cell {
    @include align-items(flex-start);

    & .form-checkbox {
      margin-top: 8px;
    }
  }

  & > .check-label {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.module-detail-header {
  margin-bottom: 10px;

  & > .check-label {
    margin-right: auto;
  }
}

.module-list-info {
  @include flex(1, 1, 0);
  max-width: calc(100% - 105px);
  @include display-flex(flex, column, nowrap);
  margin-left: 16px;

  & .subject {
    max-width: calc(100% - 190px);
  }

  .mail-cell & {
    max-width: calc(100% - 150px);
  }
}

.module-todo-content {
  position: relative;

  & .subject {
    margin-bottom: 5px;
    max-width: 100%;
  }
}

.module-list-actions {
  text-align: right;
}

.gx-module-sidenav {
  & .chat-sidenav-main {
    max-width: 300px;
    min-width: 300px;
    width: 90%;
  }
}

.module-date {
  max-width: 150px;

  & > div:before {
    display: none;
  }
}

.module-detail-item {
  padding: 10px 0;
}

.task-title {
  font-size: 16px;

  & span {
    font-size: 14px;
  }
}

.chat-todo-avatar {
  margin-right: 15px;
}

.modal-title {
  @include display-flex();
  @include justify-content(space-between);
  @include align-items(center);
  width: 100%;
  font-size: 18px;
}

.loader-view-block {
  @include display-flex(flex, column, nowrap);
  @include justify-content(center);
  @include align-items(center);
}

.loader-view {
  @extend .loader-view-block;
}

.module-date > div {
  @include align-items(center);
}

.module-comment-list {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;

  & li {
    margin-bottom: 15px;
  }
}

.module-comment-content {
  background-color: $gray-200;
  padding: 10px 20px;
  margin-bottom: 10px;
  @include border-radius(4px);
}

@media screen and (max-width: 1199px) {
  .module-box-header {
    & .search-bar {
      min-width: 280px;
      max-width: 280px;
    }
  }

  .chat-loader-view {
    height: calc(100vh - 120px);
  }
}

@media screen and (max-width: 991px) {
  .gx-module-sidenav {
    position: relative;
    z-index: 1025;
    background-color: $white;

    & .module-side {
      padding: 20px 0 20px 20px;
    }
  }

  .module-logo {
    min-height: 45px;
  }

  .module-nav li.module-nav-label {
    padding-top: 25px;
  }

  .module-box {
    max-width: 100%;
  }

  .module-box-header {
    position: relative;
    min-height: 48px;
    padding: 5px 26px 5px 65px;

    & .drawer-btn {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      height: 48px;
      width: 48px;
      line-height: 48px;
      text-align: center;
      color: $body-color;
      @include border-radius(0);
      font-size: 22px;
    }

    & .search-bar.right-side-icon .form-control {
      height: 38px;
      padding: 5px 18px 5px 40px;
    }

    & .search-bar.right-side-icon .search-icon {
      height: 38px;
    }
  }
}

@media screen and (max-width: 575px) {
  .module-list-item,
  .module-box-topbar {
    @include display-flex(flex, row, wrap);
  }

  .module-list-info,
  .module-topbar-user-detail {
    max-width: 100%;
    margin-left: 0;
    margin-top: 12px;
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }

  .mail-cell .module-list-info {
    max-width: 100%;
  }

  .module-box-header {
    & .search-bar {
      -webkit-border-radius: $border-radius;
      -moz-border-radius: $border-radius;
      border-radius: $border-radius;
      min-width: 280px;
      max-width: 280px;
    }
  }
}

@media screen and (max-width: 429px) {
  .module-topbar-user-detail {
    @include display-flex(flex, column, nowrap);
    @include align-items(flex-start);

    & .user-name,
    & .module-date {
      margin-bottom: 10px;
    }

    & .module-date {
      margin-right: 30px !important;
    }

    & .thdots {
      align-self: flex-end;
      margin-top: -36px;
    }
  }
}

@media screen and (max-width: 399px) {
  .module-box-header {
    & .search-bar {
      min-width: 200px;
      max-width: 200px;
    }
  }
}

@media screen and (min-width: 399px) {
  .d-xs-flex {
    display: flex !important;
  }
}
