<template>
	<li>
	    <a
	    class="pointer"
	    :class="{ 'font-weight-bold': params.set_id == settings.id, 'collapsed': showCollapse }"
	    :aria-expanded="showCollapse ? 'true' : 'false'"
	    :aria-controls="'login'+settings.id"
	    @click="showCollapse = !showCollapse"
	    >
	    	<div class="d-flex justify-content-between align-items-center w-100">
	    		<div>
	    			{{ settings.login }}
	    		</div>
	    		<span class="float-right" v-if="showCollapse">
		        	<i class="fa fa-minus"></i>
		        </span>
		        <span class="float-right" v-else>
		        	<i class="fa fa-plus"></i>
		        </span>
	    	</div>
	    </a>
	    <b-collapse :id="'login'+settings.id" v-model="showCollapse">
	        <div v-for="folder in folders" :class="{ 'font-weight-bold': params.folder == folder.attributes.name && params.set_id == settings.id }" class="pl-3" :key="folder.attributes.name">
	            <input type="radio" :id="'folder'+folder.attributes.name" class="d-none" :value="folder.attributes.name" v-model="form.folder">
	            <label @click="prepareParams(folder.attributes.name)" :for="'folder'+folder.attributes.name" class="pointer text-body mb-0">
	            	{{ folder.attributes.name }}
	            	<template v-if="folder.attributes.unseen">
	            		({{ folder.attributes.unseen }})
	            	</template>
	    		</label>
	        </div>
	    </b-collapse>
	</li>
</template>
<script type="text/javascript">
export default {
	name: 'MailFolder',
	props: {
		settings: {
			default: {}
		},
		params: {
			default: {}
		},
		setParams: {
			default: () => {}
		},
		notification: {
			default: {
				newmail: {
					mailsetting_id: null,
					folder: null
				}
			}
		},
		getMessages: {
			default: () => {}
		},
	},
	data() {
		return {
			folders: [],
			form: {
				folder: this.params.folder,
			},
			showCollapse: false
		}
	},
	watch: {
		'notification': function() {
			var vm = this;
			if (this.notification.newmail.mailsetting_id == this.settings.id) {
				var index = _.findIndex(this.folders, function(o) { return o.attributes.name == vm.notification.newmail.folder; });
				console.log(this.folders[index].attributes.unseen)
				this.folders[index].attributes.unseen += 1;
				console.log(this.folders[index].attributes.unseen)

			}
		}
	},
	mounted() {
		this.getFolders();	
	},
	methods: {
		getFolders() {
			axios.get('/csmailclient/folders', {
				params: {
					set_id: this.settings.id
				}
			})
            .then(response => {
                this.folders = response.data.data
            })
            .catch(error => {
            	this.$notify({ type: 'error', title: 'Error!', text: error.response.data.message ? error.response.data.message : 'An error has occured.' });
            })
		},
		prepareParams(folder) {
			this.form.folder = folder
			this.setParams({
				set_id: this.settings.id,
				folder: this.form.folder,
			})
		},

	}
}
</script>