span.typeMail{
    border: 1px solid black;
    margin-right: 5px;
    padding: 5px;
    border-radius: 4px;
}

span.typeMail.active{
    background-color: #a1e082;
}

.nav-link label {
	color: $primary;
	margin-bottom: 0;
}

.nav-link.active label {
	color: white;
}

.pointer {
	cursor: pointer !important;
}

.mail__folders .nav-link {
	padding: 0 !important;
}

.mail__folders .nav-link label {
	width: 100%;
	padding: 0.5rem 1rem;
}

.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
}

.pending::after {
	content: url(/images/pending.gif);
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    right: 0;
    z-index: 9999;
}

.multiselect__tags {
    padding: 0.375rem 0.75rem !important;
    display: flex !important;
}

.multiselect__placeholder, .multiselect__input, .multiselect__single {
    align-self: center !important;
    margin-bottom: 0 !important;
    padding: 0 0 0 0.75rem !important;
    padding-left: 0 !important;
}

.multiselect, .multiselect__input, .multiselect__single {
    font-size: 14px !important;
    color: #5c6873 !important;
}

.multiselect__tags {
    min-height: auto !important;
}

.multiselect__select {
    width: auto !important;
    height: auto !important;
    display: none !important;
}

.multiselect__tag {
    padding: 0.15rem 0.75rem !important;
    margin: 0 0.75rem 0 0 !important;
    border-radius: 0.25rem !important;
    background: #4273FA !important;
    color: white !important;
    border: 1px solid #4273FA !important;
    line-height: 1 !important;
    display: inline-block !important;
}

.multiselect__tag-icon {
    display: none !important;
}

.multiselect__tags-wrap {
    line-height: 0;
    display: inline-block !important;
    // white-space: nowrap !important;
}

.content-left {
    justify-content: flex-start !important;
}

.pending {
    position: relative;
    overflow: hidden;
}

.on-bottom {
    position: absolute;
    bottom: 0;
}

[v-cloak] {display: none}

.quill-editor .ql-container.ql-snow {
    height: 500px;
}

.auth select.form-control {
    padding: 0.75rem;
}
.quick-menu .dropdown-menu{
    width: auto !important;
}
